* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  display: none;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: relative;
}

.logo img {
  width: 120px;
  height: auto;
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  & li {
    transition: scale ease-in-out 0.25s;
  }
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.2rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding-bottom: 3px;
}

nav ul li a:hover {
  color: #0077ff;
}
nav ul li:hover {
  scale: 1.2;
}
.drop {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  background-color: #f83b2e;
  color: #fff;
  width: 100%;
  max-width: 95px;
  padding: 5px;
  border-radius: 20px;
  transition: opacity ease 0.33s;
  & ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & li {
      cursor: pointer;
      width: 100%;
      padding: 5px;
      border-radius: 20px;
    }
    & li:hover {
      scale: 1.1;
      background-color: #f7776d;
    }
  }
}

.drop ul {
  gap: 10px;
}
.drop1 {
  right: 315px;
  top: 65px;
}
.drop2 {
  right: 215px;
  top: 65px;
}
.drop3 {
  right: 115px;
  top: 65px;
}
.drop4 {
  right: 15px;
  top: 65px;
}
@media (max-width: 768px) {
  nav ul {
    display: none;
  }
  .drop {
    display: none;
  }

  nav {
    justify-content: space-between;
  }
}
