@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: hsl(218, 23%, 16%);
  color: hsl(193, 38%, 86%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.container {
  background-color: hsl(217, 19%, 24%);
  padding: 2.5rem 2.5rem 3.5rem;
  border-radius: 15px;
  text-align: center;
  max-width: 540px;
  position: relative;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  transition: all ease 0.33s;
}

.container p {
  color: hsl(150, 100%, 66%);
  font-size: 0.85rem;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.container h1 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: hsl(193, 38%, 86%);
  min-height: 150px;
}

.design img {
  width: 100%;
  margin-bottom: 1.5rem;
}

button {
  background-color: hsl(150, 100%, 66%);
  border: none;
  border-radius: 50%;
  padding: 1.2rem;
  position: absolute;
  bottom: -1.8rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

button:hover {
  box-shadow: 0 0 30px hsl(150, 100%, 66%);
}

button img {
  width: 25px;
}
#wait {
  opacity: 0;
}

@media (max-width: 500px) {
  .container {
    padding: 2rem 1.5rem 3rem;
  }

  .container h1 {
    font-size: 1.2rem;
  }
}
